<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
     <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
</head>
<body>
    <header>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link active"
                    id="home-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#home"
                    type="button"
                    role="tab"
                    aria-controls="home"
                    aria-selected="true"
                >
                    Home
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link"
                    id="profile-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#profile"
                    type="button"
                    role="tab"
                    aria-controls="profile"
                    aria-selected="false"
                >
                    Profile
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
                    class="nav-link"
                    id="messages-tab"
                    data-bs-toggle="tab"
                    data-bs-target="#messages"
                    type="button"
                    role="tab"
                    aria-controls="messages"
                    aria-selected="false"
                >
                    Messages
                </button>
            </li>
        </ul>
        
        <!-- Tab panes -->
        <div class="tab-content">
            <div
                class="tab-pane active"
                id="home"
                role="tabpanel"
                aria-labelledby="home-tab"
            >
                 home 
            </div>
            <div
                class="tab-pane"
                id="profile"
                role="tabpanel"
                aria-labelledby="profile-tab"
            >
                 profile 
            </div>
            <div
                class="tab-pane"
                id="messages"
                role="tabpanel"
                aria-labelledby="messages-tab"
            >
                 messages 
            </div>
        </div>
        
    </header>
    <!-- hero section -->
    <section>
        <h1>Welcome to our website</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, doloremque.</p>
        <button>Get Started</button>
    </section>
    <!-- content block -->
     <section class="blocks">
         <div class="block">
                <h2>Block 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, doloremque.</p>   

         </div>

         <div class="block">
                <h2>Block 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, doloremque.</p>
         </div>      

        <div class="block">
                <h2>Block 3</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, doloremque.</p>
        </div>
     </section>

        <!-- footer -->
        <footer>
            <p>&copy; 2024 Apple Inc. All rights reserved.</p>
        </footer>
</body>
</html>