/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* ===== NAVBAR ===== */
.navbar {
    background: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav-links a:hover {
    background: #444;
}

/* ===== DROPDOWN ===== */
.dropdown-menu {
    display: none;
    position: absolute;
    background: #333;
    top: 40px;
    min-width: 150px;
}

.dropdown-menu a {
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* ===== HERO SECTION ===== */
.hero {
    height: 70vh;
    background: url('./image\ copy.png') no-repeat center center/cover;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 25px;
    border: none;
    background: #222;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.hero button:hover {
    background: black;
}

/* ===== BLOCKS ===== */
.blocks {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background: #f4f4f4;
}

.block {
    background: white;
    width: 30%;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.block h3 {
    margin-bottom: 10px;
}

/* ===== FOOTER ===== */
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}